@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* ------ css reset ------ */
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  img {
    width: 100%;
    height: auto;
    display: block;
  }
  html {
    font-family: "nobel", sans-serif;
  }
  h1 {
    @apply text-5xl;
    font-family: "salted", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  h2 {
    @apply text-2xl;
    font-family: "nobel", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  h3 {
    @apply text-xl;
  }
  @keyframes lines_moving_kf {
    0% {
      background-image: url(/src/img/lines.svg);
    }

    50% {
      background-image: url(/src/img/lines2.svg);
    }

    100% {
      background-image: url(/src/img/lines.svg);
    }
  }

  .lines_moving {
    animation-name: lines_moving_kf;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(0, 0.97, 0, 0.96);
    animation-iteration-count: infinite;
    animation-fill-mode: both;
  }
}
