---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';

---
<MainLayout title="Titel">
	<article class="bg-[url('src/img/bg.png')] bg-no-repeat bg-auto" >
	<div class="lg:grid md:grid-cols-2">
		<div class="order-2 self-center">
			<h1>Sofia Weng </h1>
			<h2>Multimediedesigner, der er vild med at lave grafik</h2>	
		</div>
		<div class="order-1 bg-[url('src/img/lines.svg')] bg-no-repeat bg-contain lines_moving ">
		   <img class="w-11/12 " src="/src/img/portrait.png" alt="">
		</div>
	</div>
	<div>
		knap
	</div>
	</article>
</MainLayout>