---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import BilledeUdenTape from '../components/BilledeUdenTape.astro';
import Billede from '../components/Billede.astro';
import Heading from '../components/Heading.astro';
import 'animate.css';
import "aos/dist/aos.css";
---
<MainLayout title="Titel">
	<article class="  bg-[url('src/img/bg.png')] bg-no-repeat bg-auto grid gap-5 border-b border-solid border-customBlack grid h-85 py-10 overflow-hidden" >
	<div class="md:grid md:grid-cols-3 grid self-end mx-5 md:p-20">
		<div class="order-2 lg:order-1 col-span-1 m-auto   grid w-1/2 md:w-11/12 lg:w-8/12 md:relative ">
		
		</div>
		<div class="order-1 col-span-2 md:order-2 self-end text-center md:text-left  ">
		
			<h1 class="text-7xl md:text-8xl pt-8  md:pt-0 uppercase ">Sofia Weng </h1>


			<h2 class=" uppercase pt-5 w-11/12  m-auto md:m-0 ">Multimediedesigner, der er vild med at lave grafik</h2>	

		</div>
	</div>
	<a href="#ommig" class="bounce-top m-auto md:relative aspect-[49-26] grid self-end mt-10 ">
		<div class=" bg-[url('src/img/pilned.svg')] bg-no-repeat bg-contain hover:bg-[url('src/img/pilned-hover.svg')] h-max py-2 md:absolute -bottom-28 w-14  ">
		<p class="text-transparent">ned-knap</p>
	</div>
	</a>
	</article>
	<article id="ommig" class=" relative overflow-hidden border-b border-solid border-customBlack">
		<div  
		class="m-auto max-w-screen-lg px-5 py-8 grid md:grid-cols-2">
		<div class="w-3/4 md:w-full m-auto py-5 pb-10 "
		data-aos="fade-right"
		data-aos-delay="200" >
			<Billede><img class="p-5 pb-10 m-auto" src="src/img/portrait3.jpg" alt=""></Billede>
		</div>
		<div
		data-aos="fade-left"
		data-aos-delay="200" class="self-center">
		<Heading>
			<h1 class="mb-5  ">OM MIG</h1>
		</Heading>
		
		<p class="text-justify">
			Mit navn er Sofia Weng, jeg er 21 år og til dagligt studerer jeg multimediedesign på KEA og er på mit tredje semester. 
			Jeg elsker at være kreativ både i min fritid men også til mine projekter. Det inkluderer blandt andet at tegne, male & digital design. 
			<br><br>
			Jeg har erfaring indenfor front-end design og samtlige adobe
			programmer. Jeg er især vild med at lave illustrationer på Illustrator og Figma til mine projekter. Med hensyn til mine designvalg tager jeg tit inspiration fra Pinterest, andre hjemmesider, Instagram & tiktok, hvor jeg især er opmærksom på hvilke trends, der er aktive.
			<br><br>
			Jeg vil beskrive mig selv som en flittig, opmærksom og detaljeorienteret person, som løser alle opgaverne med grundighed. Samtidigt er jeg åben for konstruktiv kritik og stræber efter at blive bedre.
			
		</p>

		</div>
		</div>
	
		<img class="absolute bottom-0 -z-10 w-1/4 right-0" src="src/img/bg.png" alt="">
	</article>

	<article id="erfaring" class="overflow-hidden">
		<div data-aos="fade-up"
		data-aos-delay="200" 
		class="m-auto max-w-screen-lg px-5 pt-12 pb-2 text-center">
		<Heading>
		<h1 class="w-min md:w-max" >ERFARING & KOMPETENCER</h1>
	</Heading>

</div>
		<h2
		data-aos="fade-up"
		data-aos-delay="200"
		 class="font-semibold italic uppercase m-auto max-w-screen-lg px-5 py-5 pt-8 text-center">
			Front-end & digital design værktøjer, jeg benytter mig:
		</h2>
		
		<div
		data-aos="fade-up"
		data-aos-delay="300"
		 class="flex  flex-wrap justify-center gap-5 pb-5 px-5">
			<img class="w-20" src="src/img/programikon/figma.svg" alt="figma ikon">
			<img class="w-20" src="src/img/programikon/vscode.svg" alt="vscode ikon">
			<img class="w-20" src="src/img/programikon/illustrator.svg" alt="illustrator ikon">
			<img class="w-20" src="src/img/programikon/indesign.svg" alt="indesign ikon">
			<img class="w-20" src="src/img/programikon/premier.svg" alt="premier pro ikon">
			<img class="w-20" src="src/img/programikon/photoshop.svg" alt="photoshop ikon">
		</div>
		
		<div data-aos="fade-up"
		data-aos-delay="300"
		 class="border-customBlack border-t col-span-2 overflow-hidden">
			 <div class="overflow-hidden whitespace-nowrap border-customBlack border-b py-2 md:py-4"> 
				<div class="inline-block animate-scroll min-w-full">
					<span class=" text-2xl md:text-2xl text-center m-0 flex flex-row gap-8">
						<span class="">HTML</span>
						<span class="">/</span>
						<span>CSS</span>
						<span class="">/</span>
						<span>JS</span>
						<span class="">/</span>
						<span>ALPHINE </span>
						<span class="">/</span>
						<span>TAILWIND</span> 
						<span class="">/</span>
						<span>ASTRO</span> 
						<span class="">/</span>
						<span>HTML</span>
						<span class="">/</span>
						<span>CSS</span>
						<span class="">/</span>
						<span>JS</span>
						<span class="">/</span>
						<span>ALPHINE </span>
						<span class="">/</span>
						<span>TAILWIND</span> 
						<span class="">/</span>
						<span>ASTRO</span> 
						<span class="">/</span>
						<span>HTML</span>
						<span class="">/</span>
						<span>CSS</span>
						<span class="">/</span>
						<span>JS</span>
						<span class="">/</span>
						<span>ALPHINE </span>
						<span class="">/</span>
						<span>TAILWIND</span> 
						<span>ASTRO</span> 
						<span class="">/</span>
					</span> 
				</div> 
			</div> 
		</div>
	<div class="grid grid-cols-2 m-auto max-w-screen-lg px-5  my-8 ">
	
		<div
		 class=" border-customBlack border-solid border-r pr-5">
			<h3
				data-aos="fade-in"
		data-aos-delay="300"
			 class="font-semibold italic uppercase text-center ">Sprog</h3>
			<div
				data-aos="fade-right"
		data-aos-delay="300"
			 class="px-5 pt-2">
				<ul class="list-disc list-inside ">
				<li class="">Dansk</li>
				<li class=" ">Engelsk</li>
				<li class=" ">Kinesisk</li>
				<li >Tysk</li>
			</ul>
		</div>
		</div>

		<div class="pl-5">
			<h3
				data-aos="fade-in"
		data-aos-delay="300"
			 class="font-semibold italic uppercase text-center ">Styrker</h3>
			<div
				data-aos="fade-left"
		data-aos-delay="300"
			 class="px-5 pt-2">
				<ul class="list-disc list-inside ">
					<li class="">Responsiv webdesign</li>
					<li class=" ">Digital illustration</li>
					<li class=" ">Design & User research</li>
					<li class=" ">Teamwork</li>
					<li class=" ">Detaljeorienteret</li>
					<li >UX/UI</li>
					<li >Marketing</li>
					<li >Videoproduktion</li>
					<li >Videoredigering</li>
				</ul>
			</div>
		</div>
	</div>

	<!-- <div class="m-auto max-w-screen-lg px-5  my-8 ">
		<div class="flex-row flex border-b border-customBlack border-solid">
			<div class="border-customBlack border-solid border-r pr-5 flex">
				<h3 class=" w-36 font-semibold italic uppercase self-center ">Sprog</h3>
			</div>
			<div >
				<ul class="list-disc list-inside p-5">
					<li class="">Dansk</li>
					<li class=" ">Engelsk</li>
					<li class=" ">Kinesisk</li>
					<li >Tysk</li>
				</ul>
			</div>
		</div>
		<div>
			<div class="flex-row flex">
				<div class="border-customBlack border-solid border-r pr-5 flex">
					<h3 class="font-semibold italic uppercase w-36 self-center">Kompetencer</h3>
				</div>
				<div class="">
					<ul class="list-disc list-inside p-5 ">
						<li class="">Responsiv webdesign</li>
				<li class=" ">Digital illustration</li>
				<li class=" ">Design & User research</li>
				<li class=" ">Teamwork</li>
				<li class=" ">Detaljeorienteret</li>
				<li >UX/UI</li>
				<li >Marketing</li>
				<li >Videoproduktion</li>
				<li >Videoredigering</li>
					</ul>
				</div>
			</div>
		</div>
	</div> -->
	<h2
	data-aos="fade-in"
		data-aos-delay="200"
	 class="font-semibold italic uppercase px-5 py-3 pt-8 text-center">MINE TIDLIGERE PROJEKTER</h2>

	<section 

	id="girltalk" class="md:grid md:grid-cols-4 m-auto max-w-screen-lg px-5 py-8 ">
		<div
		 class="z-13 grid self-center gap-5 md:col-span-3 ">
			<div 
			data-aos="fade-right"
		data-aos-delay="400"
			 class="z-10">
			 <!-- bg-[url('src/img/bg2.png')] bg-cover  -->
				<Billede>
					<div class="p-7 ">
						<h3 class="font-semibold uppercase">Girltalk</h3>
						<p class="italic">Gruppeprojekt, en webfeature til Girltalk.</p>
						<p class="py-2">
							Jeg stod for illustrationerne, kodning af hero & graphic motions til slutningen af vores SOME-video</p>
						<Link href="https://girltalkwebfeature.netlify.app/" >Link til webfeature</Link>
					</div>
				</Billede>
			</div>
			<div
			data-aos="fade-right"
		data-aos-delay="500">
			 <div class="rotate-6 hover:-rotate-3 ease-linear duration-150">
				<BilledeUdenTape>
					<video class="p-5 m-auto " src="src/vid/girltalkwebfeature.mov" autoplay loop muted ></video>
					
				</BilledeUdenTape>
			</div>
			</div>
		</div>
		<div 
	data-aos="fade-left"
		data-aos-delay="400"
		class="md:col-span-1 pt-5 md:pt-0 -z-100  ">
		<div class="-rotate-3 md:-ml-28 -z-10 hover:rotate-1 ease-linear duration-150">
		<BilledeUdenTape>
			<video  class=" p-5 m-auto" src="src/vid/girltalk.mov" autoplay loop muted></video>
		</BilledeUdenTape>
	</div>
		</div>
	</section>

	<section
	data-aos="fade-up"
		data-aos-delay="800"
	 id="clf" class="md:grid  m-auto max-w-screen-lg px-5 py-8 grid gap-3 md:gap-0">
		<div class="z-40">
				<Billede>
					<div class="p-7">
						<h3 class="font-semibold uppercase">Jesper Kongshaug</h3>
						<p class="italic">Gruppeprojekt, redesign af eksisterende hjemmeside for lysdesigneren Jesper Kongshaug.</p>
						<p class="py-2">
							Jeg stod for grafik og hjemmesidens design og noget af kodningen samt var med til at producere noget billed- og video-materiale til hjemmesiden.</p>
						<Link href="https://jesperkongshaug.netlify.app/" >Link til webfeature</Link>
					</div>
				</Billede>
			</div>
		<div class="-rotate-6 hover:rotate-0 ease-linear duration-150">
		
		<BilledeUdenTape>
			<video  class=" p-5 " src="src/vid/jesperkongshaug-play.mp4" autoplay loop muted></video>
		</BilledeUdenTape>

		</div>
	</section>



	<article id="forventing" class="m-auto max-w-screen-lg px-5 py-8">
		<Heading>
			<h1 class="w-min md:w-max">Mine forventninger med praktik</h1>
		</Heading>
	</article>
	<article id="kontakt" class="m-auto max-w-screen-lg px-5 py-8">
		<Heading>
			<h1 class="w-min md:w-max">KONTAKT</h1>
		</Heading>
	</article>

</MainLayout>

