---
import { Image } from 'astro:assets';
import Tape from "../assets/images/tape.png";
---
<div class="">
<div class="bg-[#F5F5F5]  w-3/4 m-auto shadow-[6px_9px_19px_3px_rgba(0,0,0,0.3)] relative">
    <Image class="absolute w-40 -left-16 -top-8 " src={Tape} alt="tape"></Image>
<slot></slot>
<Image class="absolute w-40 -right-16 -bottom-10" src={Tape} alt="tape"></Image>
</div>
</div>