---
import Link from '../components/Link.astro'
import { Image } from 'astro:assets';
import whitelogo from "src/assets/images/white_logo.webp";
---


<div>
    <div x-data="{ showmenu: false }" class="lg:static w-full ">
        <div id="navbar" class="p-4 flex flex-row justify-between">
            <div id="logo" class="self-center ">
                <a href="/">
                    <img class="w-28" src="/src/img/logo.svg" alt="logo">
                </a>
            </div>
            <nav id="desktopmenu" class="hidden lg:block  text-sm self-center">
                <ul class="flex flex-row gap-8">
                    <li><a href="#ommig" class="hover:border-b border-solid border-black transition-all duration-300">OM MIG</a></li>
                    <li><a href="#erfaring" class="hover:border-b border-solid border-black transition-all duration-300">ERFARING & KOMPETENCER</a></li>
                    <li><a href="#forventninger" class=" hover:border-b border-solid border-black transition-all duration-300">MINE FORVENTNINGER</a></li>
                    <li><a href="#" class="hover:border-b border-solid border-black transition-all duration-300">ig</a></li>
                    <li><a href="#" class="hover:border-b border-solid border-black transition-all duration-300">linkedin</a></li>
                </ul>
            </nav>
            <!-- Burgermenu -->
            <div id="burgermenu" class="self-center lg:hidden p-2 cursor-pointer" x-on:click="showmenu = !showmenu">
                <template x-if="!showmenu">
                    <!-- Burgerikon -->
                    <div>
                        <span class="block w-10 h-1 bg-black my-2"></span>
                        <span class="block w-10 h-1 bg-black my-2"></span>
                        <span class="block w-10 h-1 bg-black my-2"></span>
                    </div>
                </template>
                <template x-if="showmenu">
                    <!-- Traditionelt kryds -->
                    <div class="relative w-10 h-10 flex items-center justify-center">
                        <span class="absolute block w-full h-1 bg-black transform rotate-45 ease-in"></span>
                        <span class="absolute block w-full h-1 bg-black transform -rotate-45 ease-in"></span>
                    </div>
                </template>
            </div>
        </div>

        <nav id="mobilmenu" class="flex flex-col content-center lg:hidden font-semibold text-[#052F45] bg-[#F7F7F7]"
            x-show="showmenu" x-transition x-on:click.outside="showmenu = false">
            <ul>
                <img class="w-1/3 absolute right-0" src="/assets/images/bluepixels-up-right.svg" alt="pixels">
                <li class="p-4 border-b-2">
                    <a href="/howtoparticipate" class="hover:text-customPink transition-all duration-300">SÅDAN DELTAGER DU</a>
                </li>
                <li class="p-4 border-b-2">
                    <a href="/formular" class="hover:text-customPink transition-all duration-300">REGISTRER DIT BIDRAG</a>
                </li>
                <li class="p-4 border-b-2">
                    <a href="/ressourcer" class="hover:text-customPink transition-all duration-300">RESSOURCER</a>
                </li>
                <li class="p-4 border-b-2">
                    <a href="#" class="hover:text-customPink transition-all duration-300">LÆRINGSCENTER</a>
                </li>
                <li class="p-4 border-b-2">
                    <a href="#" class="hover:text-customPink transition-all duration-300">WORLD CLEANING DAY</a>
                </li>
                <img class="w-2/4 mt-2" src="/assets/images/bluepixels-down-left.svg" alt="pixels">
            </ul>
        </nav>
    </div>
</div>

<script>
    /* //set active class on nav when the page is active */
    const nav = document.querySelector("#desktopmenu");
    const navLinks = nav.querySelectorAll("a");
    const currentURL = window.location.href;
    navLinks.forEach((link) => {
        if (link.href === currentURL) {
            link.classList.add("active");
        }
    });
</script>
