---
import Link from '../components/Link.astro'
import { Image } from 'astro:assets';
import whitelogo from "src/assets/images/white_logo.webp";
---


<div>
    <div x-data="{ showmenu: false }" class="lg:static w-full ">
        <div id="navbar" class="p-4 flex flex-row justify-between">
            <div id="logo" class="self-center hover:scale-110 ease-linear duration-200 ">
                <a href="/">
                    <img class="w-28" src="/src/img/logo.svg" alt="logo">
                </a>
            </div>
            <nav id="desktopmenu" class="hidden lg:block self-center">
                <div class="flex flex-row gap-8">
                <ul class="flex flex-row gap-8 self-center">
                    <li class="hover:scale-110 ease-linear duration-200"><a href="#ommig" class=" font-semibold  hover:border-b-2 border-solid border-customBlack ease-linear  transition-all duration-200">OM MIG</a></li>
                    <li class="hover:scale-110 ease-linear duration-200"><a href="#erfaring" class=" font-semibold hover:border-b-2 border-solid border-customBlack transition-all duration-200">ERFARING & KOMPETENCER</a></li>
                    <li class="hover:scale-110 ease-linear duration-200"><a href="#kontakt" class="font-semibold  hover:border-b-2 border-solid border-customBlack transition-all duration-200">KONTAKT</a></li>
                </ul>
                <a href="https://www.linkedin.com/in/sofia-weng-278525212/">
                    <img class="w-10 hover:scale-110 duration-200 ease-linear" src="/src/img/linkedinBold.svg" alt="linkedin logo">
                </a>
            </div>
            </nav>
            <!-- Burgermenu -->
            <div id="burgermenu" class="self-center lg:hidden p-2 cursor-pointer" x-on:click="showmenu = !showmenu">
                <template x-if="!showmenu">
                    <!-- Burgerikon -->
                    <div>
                        <span class="block w-10 h-1 bg-customBlack my-2"></span>
                        <span class="block w-10 h-1 bg-customBlack my-2"></span>
                        <span class="block w-10 h-1 bg-customBlack my-2"></span>
                    </div>
                </template>
                <template x-if="showmenu">
                    <!-- Traditionelt kryds -->
                    <div class="relative w-10 h-10 flex items-center justify-center">
                        <span class="absolute block w-full h-1 bg-customBlack transform rotate-45 ease-in"></span>
                        <span class="absolute block w-full h-1 bg-customBlack transform -rotate-45 ease-in"></span>
                    </div>
                </template>
            </div>
        </div>

        <nav id="mobilmenu" class="flex flex-col content-center lg:hidden text-center py-1  "
            x-show="showmenu" x-transition x-on:click.outside="showmenu = false">
            <ul class="flex flex-col gap-5    ">
     
                <li class="font-semibold  border-t pt-5 border-solid border-customBlack"><a href="#ommig" class="hover:font-semibold transition-all duration-200 ease-in-out">OM MIG</a></li>
                <li class="font-semibold  border-solid border-customBlack "><a href="#erfaring" class="hover:font-semibold transition-all duration-200 ease-in-out">ERFARING & KOMPETENCER</a></li>
                <li class="font-semibold border-solid border-customBlack pb-5 "><a href="#kontakt" class="hover:font-semibold  transition-all duration-200 ease-in-out">KONTAKT</a></li>
            </ul>
          <span class="border-t border-solid border-customBlack w-1/6 m-auto"> </span>
          <a class="py-5  w-12 m-auto hover:scale-110  ease-linear duration-200"  href="https://www.linkedin.com/in/sofia-weng-278525212/">
                <img src="src/img/linkedin.svg" alt="linkedin ikon"></a>
               <div class="flex flex-row self-center gap-5 "><a href="mailto:sofiaw1268@hotmail.com" class="  hover:scale-110 duration-200 ease-linear">sofiaw1268@hotmail.com</a>
                <span>/</span>
            <a href="tel:+4560536233" class="pb-8 underline hover:scale-110  duration-200 ease-linear">+45 60 53 62 33</a>
       </div>  </nav>
    </div>
</div>

<script>
    /* //set active class on nav when the page is active */
    const nav = document.querySelector("#desktopmenu");
    const navLinks = nav.querySelectorAll("a");
    const currentURL = window.location.href;
    navLinks.forEach((link) => {
        if (link.href === currentURL) {
            link.classList.add("active");
        }
    });
</script>
