---
import { Image } from 'astro:assets';
import LinesText from "../assets/images/linesText.svg";
---

<div class="flex flex-row justify-center relative">
    <slot></slot>
    <div class="">
    <Image class=" w-10 absolute -top-6  wiggle rotate-6 " src={LinesText} alt="tre linjer"></Image>
</div>
</div>